.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: fit-content;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* max-width: 1366px; */
  max-width: 1000px;
  height: fit-content;
  margin: 0 120px 0 120px;
}

.section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: fit-content;
  width: 80%;
  margin: 7vw 0 7vw 0;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.text::before {
  content: "";
  position: absolute;
  width: 150%;
  min-width: 1000px;
  height: auto;
  aspect-ratio: 1 / 1;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.98) 30%,
    rgba(255, 255, 255, 0) 60%
  );
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 1;
}

.text h1 {
  font-size: clamp(30px, 10vw, 60px);
  font-weight: 500;
  -webkit-user-select: none;
  user-select: none;
  color: rgb(135, 24, 157);
  text-align: center;
  z-index: 1;
}

.text span {
  position: relative;
  font-weight: 700;
  background: -webkit-linear-gradient(
    135deg,
    #ffb6c1 20%,
    #ffdab9 40%,
    #b0e0e6 60%,
    #dda0dd 80%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text p {
  font-weight: 500;
  font-size: clamp(18px, 3vw, 22px);
  color: #aaaaaa;
  max-width: 500px;
  text-align: center;
  z-index: 1;
}

.img {
  position: absolute;
  width: 110%;
  min-width: 1200px;
  height: auto;
  opacity: 0.5;
}

.ctaButton {
  z-index: 1;
}

@media only screen and (max-width: 850px) {
  .content {
    margin: 0 20px 0 20px;
  }

  .section {
    width: 100%;
    height: fit-content;
    padding: 100px 0;
  }

  .image {
    width: 70%;
    height: 70%;
    object-fit: contain;
  }

  .img {
    transform: rotate(-45deg);
    min-width: 200vw;
  }

  .text::before {
    min-width: 700px;
  }
}
